@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin: $base-size 0;
  min-height: 90vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;

    .input {
      margin: 6px;
    }

    .button {
      width: 40%;
      margin: 6px auto;
    }
  }
}
